<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.css" />
  </head>
  <body>
  <header><script type="text/javascript" src="index.ejs"></script>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="/"><%= title %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                      <a class="nav-link" href="/">Ambulanzen <span class="sr-only">(current)</span></a>
                  </li>
              </ul>
          </div>
      </nav>
  </header>
  <div class="jumbotron">
      <p class="lead">Lagerübersicht</p>
      <hr class="my-4">
  <table id="Lager" style="width:100%" border="1" >
      <thead>
      <tr>
          <th>Lager</th>
          <th>Bemerkung</th>
          <th>Adresse</th>
          <th>PLZ</th>
          <th>Ort</th>
          <th>Land</th>
      </tr>
      </thead>
      <tbody>
      <% print.forEach(function (lager) { %>
      <tr>
          <td><%= lager.Lagername %></td>
          <td><%= lager.Lager_Bemerkung %></td>
          <td><%= lager.Adresse %></td>
          <td><%= lager.PLZ %></td>
          <td><%= lager.Ort %></td>
          <td><%= lager.Land %></td>
      </tr>
      <% }) %>
      </tbody>
  </table>

  </div>

  <form method="post" action="">
      <label for="lager_name">Lager: </label>
      <input type="text" name="lager_name">
      <label for="lager_bemerkung">Bemerkung: </label>
      <input type="text" name="lager_bemerkung">
      <label for="Strasse">Strasse:</label>
      <input type="text" name="lager_strasse">
      <label for="PLZ">Postleitzahl:</label>
      <input type="text" name="lager_plz">
      <label for="Ort">Ort:</label>
      <input type="text" name="lager_Ort">
      <label for="Land">Land:</label>
      <input type="text" name="lager_land">

      <input type="submit" value="Speichern">
  </form>
  </body>
</html>
